<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <form action="search/new" method="POST">
    <input type="text" placeholder="Search title or author" name="searchQuery" />
    <input type="radio" name="type" value="Title" />
    <input type="radio" name="type" value="Author" />
    <button>Search</button>
  </form>
  <a href="/contact">Contact us!</a>
  <a href="/about">About us!</a>
  <a href="/home">works</a>
</body>

</html>