<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/base.css" />
    <title>Document</title>
  </head>

  <body>
    <%- include('../partials/header') %>
    <div class="indexText">
      <h2>Search For Books!</h2>
      <p>Click the <a href="/search/new">Search</a> button!</p>
    </div>
  </body>
</html>

<!-- thumbnail image from data = 128 x 182 -->
